* {
    box-sizing: border-box;
  }
  
:root {
    --primary: #492e6f;
    --secondary: #d299ec;
    --lightPurple: #d9d3e8;
    --grey: #333;
    --white: white;
    font-size: 62.5%;
}
  
body {
    background: #ededed;
    color: var(--grey);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
}

h2{
    font-size: 2.2rem;
    font-weight: bold;
}

.padding10{
    padding: 10px;
}

.textAlignCenter{
    text-align: center;
}

.page-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px auto;
    width: 95%;
}

.flexWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    margin:30px;
}

.btn {
    outline: none;
    border: none;
    padding: 10px 15px;
    background: var(--primary);
    font-size: 2.2rem;
    border-radius: 12px;
    position: relative;
    top: -3px;
    color:var(--white);
}

.btn:hover {
    top: -2px;
    background: var(--secondary) ;
    cursor: pointer;
}

.answerResult{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid var(--grey);
    width: 25%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;    
}

.correctOrWrong{
    margin-top: 20px;
}

.scoresList{
    list-style: none;
}

.scoreList li{
    background: var(--lightPurple);
    list-style: none;
}

